body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .nav {
    margin-bottom: 20px;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .input {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .lable {
    display: block;
    margin-bottom: 5px;
  }